body {
    background-color: #2B2D2F;
    color: #C2C5CC;
    font-weight: bold;
    /*text field background: #262626;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  logo {
      width: 100%;
      align-items: center;
      border: 3px solid green;
      padding: 15px;
      text-align: center;
  }

  #logodiv {
      width: 100%;
      margin: auto;
      justify-content: center;
      display: flex;
  }

  .buttonclass {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : #2B2D2F;
    color: #ffa303;
    font-size: 100%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 3%;
    border-style: solid;
    font-weight: bold;
    transition: 0.3s;
    border-color:   #413f3d;
  }

  .buttonclass:hover {
    background-color : #ffa303;
    color: #2B2D2F ;
    border-color: #2B2D2F;
  }

  #buttondiv {
    margin: auto;
    justify-content: center;
    display: flex;
    /*border: 15 px green ;*/
 }

  form {
      text-align: center;
  }

  